{% extends "base_template.html" %}

{% block content %}
	<div id="content" class="underconstruction">
		<h1>Cyberyoubots : Site en Construction !</h1>
		<p>
			Connaissez-vous <strong>Cyberyoubots</strong>? Voulez-vous devenir plus fort, plus rapide, et surtout, immortel?<br/>
			<strong>Cyberyoubots</strong> a la solution qu'il vous faut! <br/>
			<strong>Cyberyoubots</strong> est une entreprise familiale depuis 1963 qui vous aident à mettre à jour votre corps faible et mortel
		</p>
		<img title="cyberyoubots_under_construction" alt="Site en Construction" src="/static/images/cyberyoubots_under_construction.png">
	</div>
	
{% endblock %}